<!-- top navigation -->
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle" style="padding-top: 6px;">
				<a id="menu_toggle"><img alt="Home Page" id="lowesLogo" src="static/images/logo.png" width="90px" height="40px" /></a>
			</div>
			<div class="navbar-center pagename centered">
				<label class="navbar-center navbar-brand heading">Smart Customer Review</label>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
						<img src="static/images/img.jpg" alt="">John Doe <span class=" fa fa-angle-down"></span>
					</a>
				</li>

				<li role="presentation" class="dropdown">
					<a href="javascript:;"	class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false"> 
						<i class="fa fa-envelope-o"></i> 
						<span class="badge bg-green">6</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!-- /top navigation -->